@mixin glass-look {
    background: rgba(117, 114, 114, 0.18);
    backdrop-filter: blur(7.5px);
    box-shadow: 0 8px 32px 0 rgba(4, 4, 4, 0.18);
    border-radius: 20px;
}

.addrecipient{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    .ar-form {
        @include glass-look();
        padding: 3%;
        max-width: 60%;
        flex: 1 0 100%;
        backdrop-filter: blur(10px);
    }
}